.telephone-container {
    position: relative;
    text-align: center;
  }
  
  .telephone-image {
    max-width: 100%;
    height: auto;
  }
  
  .keypad {
    position: absolute;
    bottom: 20%;
    left: 40%; /* Adjust the left offset to move the keypad to the right */
    display: flex;
    flex-direction: column;
    width: 60%; /* Adjust the width to your desired size */
    height: auto;
  }
  
  
  .row {
    display: flex;
    justify-content: center;
  }
  
  .key {
    width: 14%; /* Adjust the width percentage according to your preference */
    height: auto; /* This will maintain the aspect ratio */
  }
  
  
  